In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from nltk.tokenize import word_tokenize
import string

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/mchandak/DS_Repo10/main/Data/Hamspam.csv",encoding = "ISO-8859-1")
#data = pd.read_csv("E:\\Manoj\\ExcelR\\1Manoj\\Day 35-Naive Bayes-20230409T093753Z-001\\Day 35-Naive Bayes\\Hamspam.csv",encoding = "ISO-8859-1")

In [4]:
data.head()

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4  spam  okmail: Dear Dave this is your final notice to...

In [5]:
data.isnull().sum()

type    0
text    0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5559 entries, 0 to 5558
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    5559 non-null   object
 1   text    5559 non-null   object
dtypes: object(2)
memory usage: 87.0+ KB

# Data Cleaning

In [7]:
punctuations = string.punctuation
punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
#Stop words
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
mystopword = set(["...","also","would","still","dot","n't","'ll"])

def stopfun(wt1):
    filtered1 =[]
    for w in wt1:
        if w not in stop_words:
            if w not in string.punctuation:
                if w not in mystopword:
                    if len(w)>2:
                        filtered1.append(w)
    return filtered1

In [9]:
str10="it will help in cleaning the text?"
mytokens10=word_tokenize(str10)
mytokens10
st=stopfun(mytokens10)
st

['help', 'cleaning', 'text']

In [10]:
#Lemma
from nltk.stem.wordnet import WordNetLemmatizer
lem = WordNetLemmatizer()
def lemfun(wt1):
    lem_words=[]
    for w in wt1:
        lem_words.append(lem.lemmatize(w,'v'))
    return lem_words

In [11]:
def pre_process(str1):
    # Tokenization
    str1 = str1.lower()
    mytokens=word_tokenize(str1)
    # Removing stop words & punctution
    mytokens = stopfun (mytokens)
    # Lemmatizing
    mytokens= lemfun(mytokens)
    return mytokens

In [12]:
str10 = "It will help in cleaning cleaned the text?"
pp=pre_process(str10)
pp

['help', 'clean', 'clean', 'text']

In [14]:
# the features we want to analyze
X = data['text'] 
# the labels, or answers, we want to test against
ylabels = data['type']

In [17]:
#CountVectorizer
#cv_vector = CountVectorizer(tokenizer = pre_process)
cv_vector = CountVectorizer(tokenizer = pre_process,min_df= .02, max_df=.50)
    # min_df is used for removing terms that appear too infrequently
    # max_df is used for removing terms that appear too frequently
x_train_cv = cv_vector.fit_transform(X)
x_train_cv_df = pd.DataFrame(x_train_cv.toarray(),columns=list(cv_vector.get_feature_names_out()))
x_train_cv_df.shape
x_train_cv_df

,ask,back,call,come,day,dont,free,get,give,go,...,text,think,time,today,try,txt,wait,want,well,work
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554,0,0,0,0,2,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5555,0,0,0,0,0,0,0,1,0,0,...,0,0,2,0,0,0,0,0,0,0
5556,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5558,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#TfidfVectorizer
tf_vector = TfidfVectorizer(tokenizer = pre_process,min_df= .02,max_df=.50)
x_train_tf = tf_vector.fit_transform(X)
x_train_tf_df = pd.DataFrame(x_train_tf.toarray(),columns=list(tf_vector.get_feature_names_out()))
x_train_tf_df.shape
x_train_tf_df

,ask,back,call,come,day,dont,free,get,give,go,...,text,think,time,today,try,txt,wait,want,well,work
0,0.0,0.000000,0.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.693716,0.000000,0.0,0.000000,0.0000,0.0,0.000000,0.720248,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,1.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554,0.0,0.000000,0.000000,0.0,0.696994,0.3784,0.0,0.000000,0.385216,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5555,0.0,0.000000,0.000000,0.0,0.000000,0.0000,0.0,0.354049,0.000000,0.0,...,0.0,0.0,0.935227,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5556,0.0,0.628555,0.440429,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5557,0.0,0.000000,0.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5558,0.0,0.000000,1.000000,0.0,0.000000,0.0000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#Using CountVectorizer
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_train_cv_df , ylabels, test_size=0.25,
                                                    random_state=1)

In [21]:
from sklearn.naive_bayes import MultinomialNB as MB
classifier = MB()

In [22]:
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [23]:
# Model Accuracy
print('Training Accuracy : {:.3f}'.format(classifier.score(X_train, y_train)))
print('Testing Accuracy : {:.3f}'.format(classifier.score(X_test, y_test)))

Training Accuracy : 0.932
Testing Accuracy : 0.917

In [24]:
#Using TF_IDF
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_train_tf_df , ylabels, test_size=0.25,
                                                    random_state=1)

In [25]:
from sklearn.naive_bayes import MultinomialNB as MB
classifier = MB()

In [26]:
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [27]:
# Model Accuracy
print('Training Accuracy : {:.3f}'.format(classifier.score(X_train, y_train)))
print('Testing Accuracy : {:.3f}'.format(classifier.score(X_test, y_test)))

Training Accuracy : 0.927
Testing Accuracy : 0.915